.container {
  padding: 0 2rem;
  background-color: #660d0d;
}
.heading{
  color: #b08802;
}
.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #660d0d;
}
.jumbotron{
  background-color: #b08802 !important;
}
.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title{
  color: #b08802 !important;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  border-radius: 5px;
  background-color: #660d0d;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: #000000 !important;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  background-color: #b08802;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 350px;
  max-height: 500px;
}
.titleCard {
  margin: 1rem;
  padding: 1.5rem;
  text-align: center;
  color: #3700ff !important;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  background-color: #b08802;
  
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 700px;
}
.card:hover,
.card:focus,
.card:active {
  color: #4c34c7;
  border-color: #57c5a4;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}
.card h3{
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
} 
.outsideText{
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  color:#b08802 !important;
  font-size: 200%;
  padding-top: 15%;
  padding-right: 80%;
}
.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  color: #000000 !important;
}
.titleCard p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  color: #000000 !important;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}

.footer {
  color:#b08802 !important;
}
.Navtext{
  color:#3700ff;
  background-color: #3d0000 ;
}
.NavTextRight{
  background-color: #3d0000 ;
  text-align: right;
}
.profileCard{
  vertical-align: top;
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: #000000 !important;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  background-color: #b08802;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 350px;
  max-height: 500px;
  align-content:stretch;
}
.profileTitle{
  color:#3d0000;
  display:inline;

}
.stats {
  color: #b08802 !important;
  text-align: center;
}
.racesTable{
  color:#b08802 !important;
}
.racesTable td{
  min-width: 5%;
  min-height: 5%;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #b08802;
}
.racesTable th{
  min-width: 5%;
  min-height: 5%;
  padding-left: 20px;
  padding-right: 20px;
}