.container {
  padding: 0 2rem;
  background-color: #e7e7e7;
}
.heading{
  color: #b08802;
}
.header {
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main {
  min-height: 100vh;
  margin-top: -100px;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e7e7e7;
}
.jumbotron{
  min-width: 100%;
  padding-left: 25vw;
  padding-right: 25vw;
  padding-top: 4%;
  text-align: center;
  background-color: #dbc35a !important;
  color: #000000 !important;
  font-size: 60px;
  vertical-align: middle;
  margin: 1rem;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-height: 20vh;
  min-height: 15vh;
  align-content:stretch;
}
.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.title{
  color: #000000 !important;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}


.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: #000000 !important;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  background-color: #dbc35a;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 350px;
  max-height: 500px;
}
.titleCard {
  margin: 1rem;
  padding: 1.5rem;
  text-align: center;
  color: #3700ff !important;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  background-color: #dbc35a;
  
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 700px;
}
.card:hover,
.card:focus,
.card:active {
  color: #4c34c7;
  border-color: #57c5a4;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}
.card h3{
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
} 
.outsideText{
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  color:#000000 !important;
  font-size: 200%;
  padding-top: 15%;
  padding-right: 80%;
}
.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  color: #000000 !important;
}
.titleCard p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  color: #000000 !important;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
.Navtext{
  background-color: #a90805 ;
  color: #bbbbbb !important;
}
.Navtext:hover{
  background-color: #400100 !important;
  color: #f3f3f3 !important;
}
.profileCard{
  vertical-align: top;
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: #000000 !important;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  background-color: #dbc35a;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 350px;
  max-height: 500px;
  align-content:stretch;
}
.profileTitle{
  color:#3d0000;
  display:inline;

}
.stats {
  color: #b08802 !important;
  text-align: center;
}
.racesTable{
  color:#b08802 !important;
}
.racesTable td{
  min-width: 5%;
  min-height: 5%;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid #b08802;
  font-size: 20px;
  color: #888888!important;
}
.racesTable th{
  min-width: 5%;
  min-height: 5%;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  color: #888888!important;
}
.inline{
  display: inline;
}